In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

## 数据加载

In [3]:
luohu_data = pd.read_csv('周六日课程资料/bj_luohu.csv', index_col = 'id')
luohu_data.describe()

             score
count  6019.000000
mean     95.654552
std       4.354445
min      90.750000
25%      92.330000
50%      94.460000
75%      97.750000
max     122.590000

## 分组

In [29]:
company_data = luohu_data.groupby('company', as_index=False).count()[['company', 'name']]
company_data.rename(columns={'name':'人数'}, inplace=True)      # 替换 1
company_data.rename(columns={'company':'公司名'},inplace=True)  # 替换 2

In [31]:
company_data

                      公司名  人数
0             ABB（中国）有限公司   8
1     BONNIER图书文化（北京）有限公司   1
2         IGT科技开发（北京）有限公司   1
3     POLYCOM通讯技术（北京）有限公司   2
4       VIDIA技术服务（北京）有限公司   1
...                   ...  ..
3425   龙源（北京）风电工程设计咨询有限公司   1
3426       龙田云端（北京）科技有限公司   1
3427           龙芯中科技术有限公司   1
3428      ＣＳＢ电池科技（北京）有限公司   1
3429        ＪＦＥ贸易（北京）有限公司   1

[3430 rows x 2 columns]

## 排序 （维度指标）

In [35]:
company_sorted_data = company_data.sort_values('人数', ascending=False)
company_sorted_data[:20]   # 这个切片如果不加，就是全部的

                          公司名   人数
1081             北京华为数字技术有限公司  137
312                     中央电视台   73
2457             北京首钢建设集团有限公司   57
3082         百度在线网络技术（北京）有限公司   55
3194               联想（北京）有限公司   48
214              中国民生银行股份有限公司   40
2648         国际商业机器（中国）投资有限公司   39
1334           北京外企人力资源服务有限公司   39
174            中国国际技术智力合作有限公司   29
2514            华为技术有限公司北京研究所   27
3049            爱立信（中国）通信有限公司   26
3201             腾讯科技（北京）有限公司   24
2405          北京阿里巴巴云计算技术有限公司   23
240   中国石油天然气股份有限公司管道北京输油气分公司   20
3070               用友软件股份有限公司   20
434                中铁建工集团有限公司   19
356              中煤建设集团工程有限公司   17
118                中信银行股份有限公司   17
2815               微软（中国）有限公司   17
1507             北京市京才实业开发总公司   16

## 分段处理
socre是连续数值，因此分段分析，上边看了最小90，最大122.6 所以这么划分——90-130分，5分一段

In [43]:
cut_bins = np.arange(90, 130, 5)   #分段设置
bins = pd.cut(luohu_data['score'], cut_bins)  # 将落户数据，按照cutbins来切一下
# print(bins)#可以看出，每行数据落在了哪个区间里，实际工作中，可以不打印，继续后边操作

In [44]:
bin_counts = luohu_data['score'].groupby(bins).count()
bin_counts

score
(90, 95]      3344
(95, 100]     1757
(100, 105]     653
(105, 110]     218
(110, 115]      32
(115, 120]      13
(120, 125]       2
Name: score, dtype: int64

## 年龄计算

In [19]:
luohu_data['age'] = (pd.to_datetime('2018-07') - pd.to_datetime(luohu_data['birthday'])) / pd.Timedelta('365 days')
luohu_data.describe()

             score          age
count  6019.000000  6019.000000
mean     95.654552    41.960493
std       4.354445     2.814382
min      90.750000    32.852055
25%      92.330000    40.027397
50%      94.460000    41.942466
75%      97.750000    43.945205
max     122.590000    60.041096

In [20]:
age_cut_bins = np.arange(30, 65, 5)
age_bins = pd.cut(luohu_data['age'], age_cut_bins)
age_bin_counts = luohu_data['age'].groupby(age_bins).count()
age_bin_counts

age
(30, 35]      35
(35, 40]    1449
(40, 45]    3637
(45, 50]     878
(50, 55]      16
(55, 60]       3
Name: age, dtype: int64