## 导入数据和看头部及看描述

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('order_info_2016.csv', index_col='id')
df.head()

,orderId,userId,productId,cityId,price,payMoney,channelId,deviceType,createTime,payTime
id,,,,,,,,,,
1,232148841,2794924,268,110001,35300,35300,9058255c90,3,2016-01-01 12:53:02,2016-01-01 12:53:24
2,222298971,1664684,801,330001,51200,49900,e0e6019897,2,2016-01-01 21:42:51,2016-01-01 21:43:30
3,211494392,2669372,934,220002,62100,62100,9058255c90,3,2016-01-01 14:10:13,2016-01-01 14:11:18
4,334575272,1924727,422,230001,50600,42000,46d5cea30d,2,2016-01-01 17:43:35,2016-01-01 17:43:53
5,144825651,4148671,473,130006,149100,142000,6ff1752b69,2,2016-01-01 18:52:04,2016-01-01 18:52:47

In [3]:
df.describe()

,orderId,userId,productId,cityId,price,payMoney,deviceType
count,1.045570e+05,1.045570e+05,104557.000000,104557.000000,1.045570e+05,1.045570e+05,104557.000000
mean,2.993341e+08,3.270527e+06,504.566275,154410.947225,9.167350e+04,8.686689e+04,2.385292
std,5.149818e+07,4.138208e+07,288.130647,72197.163762,9.158836e+04,9.072028e+04,0.648472
min,1.035627e+08,2.930600e+04,0.000000,30000.000000,6.000000e+02,-1.000000e+03,1.000000
25%,2.633627e+08,2.179538e+06,254.000000,100011.000000,3.790000e+04,3.360000e+04,2.000000
50%,2.989828e+08,2.705995e+06,507.000000,150001.000000,5.920000e+04,5.500000e+04,2.000000
75%,3.349972e+08,3.271237e+06,758.000000,220002.000000,1.080000e+05,1.040000e+05,3.000000
max,4.871430e+08,3.072939e+09,1000.000000,380001.000000,2.295600e+06,2.294200e+06,6.000000

## 清洗数据开始，一列一列看
### 看orderID是否有重复或者0的
104530 ，上边是104557，因此有重复，需要删除

In [4]:
df.orderId.unique().size

104530

In [5]:
df.productId[df.productId==0].size

177

有177个0 先记住，不处理

### 把price换为元

In [8]:
df.price = df.price / 100

### 看paymoney 有多少不符合逻辑的（这里是小于零）

In [12]:
df[df.payMoney < 0]

,orderId,userId,productId,cityId,price,payMoney,channelId,deviceType,createTime,payTime
id,,,,,,,,,,
25344,288096069,2145955,511,230014,0.0111,-1000,df9f79c426,2,2016-03-11 21:32:54,2016-03-11 21:33:10
55044,296608442,4073997,385,120006,0.0111,-1000,cbccc0808e,2,2016-05-24 08:52:04,2016-05-24 08:52:23
66897,316685479,1949907,554,60019,0.2084,-1000,9058255c90,3,2016-03-31 11:57:46,2016-03-31 11:57:46
72556,323229098,2894042,548,220008,0.0114,-1000,41a4e91d29,2,2016-08-09 14:24:13,2016-08-09 14:24:26
81494,311194385,3370399,797,40001,0.0116,-990,ea5648bbe2,1,2016-09-06 11:20:43,2016-09-06 11:21:31
87878,324068352,1873953,602,260003,0.0292,-1000,9058255c90,3,2016-10-05 10:47:05,2016-10-05 10:47:05

#### 删掉paymoney不符合逻辑的行

In [13]:
df.drop(index=df[df.payMoney < 0].index, inplace=True)

In [14]:
df[df.payMoney < 0]

Empty DataFrame
Columns: [orderId, userId, productId, cityId, price, payMoney, channelId, deviceType, createTime, payTime]
Index: []

#### 看上边，没了；看下边转化单位

In [15]:
df.payMoney = df.payMoney / 100

### 看channelID 问题，首先看是不是有null的

In [16]:
df[df.channelId.isnull()]

,orderId,userId,productId,cityId,price,payMoney,channelId,deviceType,createTime,payTime
id,,,,,,,,,,
19086,284008366,3309847,698,240001,0.2164,2040.0,NaN,2,2016-03-08 22:36:12,2016-03-08 22:36:50
38175,287706890,2799815,823,70001,0.0760,749.0,NaN,3,2016-06-10 22:30:18,2016-06-10 22:30:47
48073,248057459,3970570,142,130001,0.0474,400.0,NaN,2,2016-03-30 12:59:03,2016-03-30 12:59:13
75949,266847859,3761925,649,120006,0.0257,257.0,NaN,2,2016-08-19 08:46:22,2016-08-19 08:46:39
100952,283627429,4156620,269,280001,0.0484,410.0,NaN,2,2016-12-13 13:24:37,2016-12-13 14:47:08
100953,346836140,3751526,738,100013,0.0105,80.0,NaN,1,2016-12-13 13:47:34,2016-12-13 13:47:44
100954,352853915,2229389,786,240001,0.0474,440.0,NaN,2,2016-12-13 16:54:09,2016-12-13 16:55:00
100955,379473081,4531810,18,180009,0.0146,50.0,NaN,3,2016-12-13 20:18:22,2016-12-13 20:18:34

#### 删掉channelid为null的行

In [17]:
df.drop(index=df[df.channelId.isnull()].index, inplace=True)

In [18]:
df[df.channelId.isnull()]

Empty DataFrame
Columns: [orderId, userId, productId, cityId, price, payMoney, channelId, deviceType, createTime, payTime]
Index: []

### 看device Type没问题，过
### 看payTime （因为有些是需要分析时间区间的）这里不涉及
### 删除清理之前提到的orderID重复内容

In [19]:
df.drop(index=df[df.orderId.duplicated()].index, inplace=True)

In [20]:
df.orderId.unique().size

104516

In [21]:
df.describe()

,orderId,userId,productId,cityId,price,payMoney,deviceType
count,1.045160e+05,1.045160e+05,104516.000000,104516.000000,104516.000000,104516.000000,104516.000000
mean,2.993318e+08,3.270624e+06,504.557685,154408.752507,0.091675,868.712246,2.385338
std,5.150345e+07,4.139020e+07,288.133766,72200.173908,0.091591,907.229857,0.648447
min,1.035627e+08,2.930600e+04,0.000000,30000.000000,0.000600,0.000000,1.000000
25%,2.633514e+08,2.179478e+06,254.000000,100011.000000,0.037900,336.000000,2.000000
50%,2.989818e+08,2.705880e+06,507.000000,150001.000000,0.059200,550.000000,2.000000
75%,3.349980e+08,3.271115e+06,758.000000,220002.000000,0.108000,1040.000000,3.000000
max,4.871430e+08,3.072939e+09,1000.000000,380001.000000,2.295600,22942.000000,6.000000

## 分组查看
### 看订单号和产品号关系

In [36]:
# 通过ascending 的True 小到大； False 大到小
productId_orderCount = df.groupby('productId').count()['orderId'].sort_values(ascending=False)
productId_orderCount.head(10)

productId
895    354
762    350
103    334
587    303
385    302
60     301
38     301
403    297
345    292
823    288
Name: orderId, dtype: int64

### 看付款和产品号关系

In [37]:
# 通过销售额 看，也是通过ascending 的True 小到大； False 大到小
productId_turnover = df.groupby('productId').sum()['payMoney'].sort_values(ascending=False)
productId_turnover.head(10)

productId
385    427522.1
61     361572.0
103    344641.2
405    339525.0
720    322405.1
345    320162.2
698    318458.6
182    296600.0
383    280790.0
396    269556.0
Name: payMoney, dtype: float64

### 用intersection看 ordercount 最后50个和产品付款最后50个联合起来看，找出来的是产品ID号

In [38]:
productId_orderCount.tail(50).index.intersection(productId_turnover.tail(50).index)

Int64Index([ 242,  408,  392,  964,  104,  436,  247,  578,  579,  859,  958,
             454,  227,   16,  310,  277,  478,  948,  856,  621,  272,  347,
             597,  468,  986, 1000],
           dtype='int64', name='productId')

### 做一个区间，看区间里的数据

In [57]:
bins = np.arange(0, 25000, 100)
pd.cut(df.price, bins).value_counts()#.sort_values(ascending=False)

(0, 100]          104516
(7700, 7800]           0
(9000, 9100]           0
(8900, 9000]           0
(8800, 8900]           0
                   ...
(16000, 16100]         0
(15900, 16000]         0
(15800, 15900]         0
(15700, 15800]         0
(12400, 12500]         0
Name: price, Length: 249, dtype: int64

实际中，要分析很多内容，各个维度的组合
若有突然出现变化、异常等，想办法找到对应原因
下单时间，支付时间也可以分析，如分析之间存在差值